<ion-view view-title="Scanner">
  <ion-content  class="padding">
    <div class="card">
      <div class="item">
        <button class="button button-block button-positive" ng-click="vm.scan()">
          <i class="icon ion-qr-scanner"></i>
          Scan Now
        </button>
      </div>
    </div>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nº de Parada</span>
        <input type="text" placeholder="Nº de Parada" ng-model="vm.codigoParada">
      </label>
      <button class="button button-block button-balanced" ng-click="vm.aquehorapasa()">
        <i class="icon ion-android-time"></i>
A que hora pasa
</button>
    </div>
<!--
    <ion-list>

      <ion-item ng-repeat="pasada in vm.pasadas">
        <h3>
          {{pasada.linea}}</h3>
        <p>
          {{pasada.destino}}</p>
          <span class="item-note">
     {{pasada.horaDesc}}
   </span>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
