<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Horarios">
  <ion-content class="padding">
    <ion-item ng-repeat="pasada in vm.pasadas">
      <h3>
        {{pasada.linea}}</h3>
      <p>
        {{pasada.destino}}</p>
        <span class="item-note">
   {{pasada.horaDesc}}
 </span>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
